{%extends 'base.html'%}
{% load static %}
{% block title%}
    Leding_page
{%endblock title%}
    
{%block content%}
<div style="min-height: 100vh; border: 1px solid black; background-color: gray;">
    <div class="container posts-content" style="margin-top:70px;">
        <div class="row"> <!-- Centering the content horizontally -->
          <div class="col-lg-6">
              {% for review in place %}
            <div class="card mb-4" style="border: 1px solid rgba(24,28,33,0.06); width: 150%;float: left;">
              <div class="card-body">
                <div class="media mb-3">
                  <p>
                    <b>Nomi:</b>
                    <span style="font-size: 20px;">{{review.place.name}}</span>
                  </p>
                  <img src="{{ review.user.img.url }}" class="d-block ui-w-40 rounded-circle" alt="" style="width: 60px; height: 60px;">
                  <div class="media-body ml-3">
                    <i><b>{{ review.user.username }}</b></i> rated it <b>{{ review.stars_give }}</b> stars
                    <div class="text-muted small">{{ review.create_date }}</div>
                  </div>
                </div>
                
                <p>
                  <b>Comment:</b>
                  <span>
                    {{ review.comment_text }}
                  </span>
                </p>
                
                <a href="javascript:void(0)" class="ui-rect ui-bg-cover" style="background-color: transparent; background-position: center center; background-size: cover; display: block; width: 100%; position: relative;">
                  <img src="{{ review.place.place_img.url }}" class="ui-rect-content" alt="" width="100%" height="400px">
                </a>
              </div>
              <div class="card-footer" style="border-color: rgba(24,28,33,0.06);">
                <a href="javascript:void(0)" class="d-inline-block text-muted">
                  <strong>123</strong> <small class="align-middle">Likes</small>
                </a>
                <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                  <strong>12</strong> <small class="align-middle">Comments</small>
                </a>
                <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                  <small class="align-middle">Repost</small>
                </a>
              </div>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>
</div>
    
{%endblock%}