{% extends "base.html" %}
{% block content %}
    <div class="container">
        {% for i in networks %}
            <div class="row mt-4">
                <div class="col-2">
                    <img src="{{i.from_user.img.url}}" alt="" style="width: 150px; height:150px; border-radius: 50%;" >
                </div>
                <div class="col" style="display: flex;align-items: center;">
                    <div style="width: 70%;">
                        <b>{{i.from_user.username}}</b><br>
                        <i>{{i.from_user.email}}</i>
                    </div>
                    <div style="width: 20%; display: flex; justify-content: space-around;">
                        <a href="{%url 'places:send'%}" class="btn btn-outline-secondary">Ignor</a>
                        <a href="{%url 'places:send'%}" class="btn btn-outline-primary">Accept</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock  %}