<!DOCTYPE html>
{%extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title%}
    Leding_page
{%endblock%}

{%block content%}
    <div class="container-full">
        <h2 class="text-center">{{place.addres}}</h2>
        <p class="fs-5">{{place.description}}</p>
        <img src={{place.place_img.url}} alt="" style="width: 100%; height: 500px;">

        <h1 class="mt-3">Izohlar</h1>
        <hr>
    </div>
    <div class="container mb-3">
        <div class="container mb-5">
            <form action="{% url 'places:comment' place.id %}" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary m-auto w-100">submit</button>
            </form>
        </div>
        
            <div class="row mt-2">
                <!-- <div class="col-2">
                    <img src="{{izoh.user.img.url}}" alt="bu yerda rasm" style="width: 100px; border-radius: 50%;">
                </div> -->
                <div class="col">
                    <table class="table table-dark table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">UserImg</th>
                            <th scope="col">User</th>
                            <th scope="col">Username</th>
                            <th scope="col">Ball</th>
                          </tr>
                        </thead>
                        {% for izoh in place.izohlar.all %}
                        <tbody>
                          <tr style="font-size: 20px;">
                            <th scope="row">{{izoh.id}}</th>
                            <th><img src="{{izoh.user.img.url}}" alt="bu yerda rasm" style="width: 100px; border-radius: 50%;"></th>
                            <td>{{izoh.user}}</td>
                            <td>{{izoh.user.username}}</td>
                            <td>
                                <p style="font-size: 25px; font-weight: 900; color: yellow;">{{izoh.stars_give}}</p>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="5" rowspan="2" style="font-size: 20px; color: rgb(5, 242, 255);">{{izoh.comment_text}}</td>
                          </tr>
                        </tbody>
                        {% endfor %}
                      </table>
                </div>
               
            </div>
        
    </div>
{%endblock%}
