{% extends "base.html" %}

{% block title %}
    user_list
{% endblock title %}

{% block content %}
<div style="background-color: rgb(76, 73, 73); margin-top:50px; min-height: 100vh;">
    <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
        {% for i in users_list %}
        <div class="row mt-3 border" style="background-color: aliceblue;">
            <div class="col-2">
                <img src="{{i.img.url}}" alt="" style="width: 140px; height:140px; border-radius: 50%;margin-top: 2px;" >
            </div>
            <div class="col" style="display: flex;align-items: center;" >
                <div style="width: 80%;">
                    <b>{{i.username}}</b><br>
                    <i style="color: rgb(0, 68, 255); text-decoration: underline; cursor: pointer;">{{i.email}}</i>
                    <p style="margin-top: 10px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veniam qui deserunt vero sequi, alias quo molestias, provident laudantium omnis tempora doloribus blanditiis repudiandae nesciunt iste totam similique quos fugiat.</p>
                </div>
                <div style="width: 20%; display: flex; justify-content: space-around;">
                    {% if i in firend_request %}
                        <a href="{%url 'users:send' i.id%}" class="btn btn-success">Send</a>
                    {% else %}
                        <a href="{%url 'users:send' i.id%}" class="btn btn-success">Send Request</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
{% endblock  %}